.file-upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text{
  font-size: 20px;
  margin: auto;
}

.rectangle-box {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  width: 700px; /* Adjust this to your desired width */
  height: 100px; /* Adjust this to your desired height */
  border: 2px dashed #ccc;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  cursor: pointer;
}

.file-preview {
  position: relative;
  width: 100px; /* Adjust this to your desired width */
  height: 100px; /* Adjust this to your desired height */
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
}

.file-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-pdf-preview{
  width: 80px;
  height: 100px;
  object-fit: cover;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 0 8px 0 0;
  cursor: pointer;
}

